Hello
<p>I am a Data Scientist in Residence at the Data Incubator in the lovely San Francisco Bay Area. I instruct people
    in all sorts of data sciency things ranging from machine learning to python to visualization while also working
    on software engineering/devops projects.
</p>

<p>
    What I'm interested in at the moment:
    <ul>
        <li>STEM education and pedagogy, particular where it relates to data science and physics</li>
        <li>Containerized applications and Kubernetes</li>
        <li>Teaching people to Python</li>
        <li>Climbing rocks</li>
        <li>My cat</li>
   </ul>
</p>
